<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Pass Sonar Maker</title>
    <link rel="stylesheet" type="text/css" href="./pass-sonar-maker.css">
    <script type="text/javascript" src="./lib/underscore-min.js"></script>
    <script type="text/javascript" src="./lib/jquery-3.4.1.min.js"></script>
  </head>
  <body>
    <!-- GOAL -->
    <div class="goal top">
    </div>

    <!-- PITCH -->
    <div id="pitch">
      <script id="area_template" type="text/template">
        <div class="area_<%= horizontal %> area_<%= vertical %>">
          <% _.each([...Array(12).keys()], function(direction) { %>
            <svg class="viewbox direction_<%= direction %>" preserveAspectRatio="none" viewBox="0 0 100 100">
              <polygon class="triangle direction_<%= direction %>" id="<%= horizontal %>_<%= vertical %>_<%= direction %>" points="0,100 50,0 100,100" />
              <polygon class="sonar direction_<%= direction %>" id="sonar_<%= horizontal %>_<%= vertical %>_<%= direction %>" points="50,0 50,0 50,0" />
            </svg>
            <span hidden id="counter_<%= horizontal %>_<%= vertical %>_<%= direction %>">0</span>
          <% }) %>
          <div class="area_counter" id="counter_<%= horizontal %>_<%= vertical %>">0</div>
        </div>
      </script>
    </div>

    <!-- GOAL -->
    <div class="goal bottom">
    </div>

    <!-- TOTAL COUNTER -->
    <div class="total_counter">Total Passes: <span id="total_count">0</span></div>

  </body>

  <script type="text/javascript">
    window.onload = function() {
      // Set areas
      const areaTemplate = _.template($("#area_template").text());

      _.each(["a", "b", "c", "d", "e", "f"], function(horizontal) {
        _.each([1, 2, 3, 4, 5], function(vertical) {
          const data = {
            horizontal: horizontal,
            vertical: vertical
          };
          $("#pitch").append(areaTemplate(data));
        });
      });

      // Set onclick event for sonar
      const triangles = $(".triangle");
      _.each(triangles, function(triangle) {
        const triangleId = triangle.id;

        triangle.onclick = function() {
          countUp(triangleId);
        }
      });
    }

    function countUp(triangleId) {
      // Triangle counter
      const counterId = "counter_" + triangleId;
      const counterElement = $("#" + counterId);
      let count = (counterElement.html() == null) ? 0 : counterElement.html();
      counterElement.html(++count);

      // Sonar
      let points = "50,0 50,0 50,0";
      if (count == 1)  { points = "45,10 50,0 55,10"; }
      if (count == 2)  { points = "40,20 50,0 60,20"; }
      if (count == 3)  { points = "35,30 50,0 65,30"; }
      if (count == 4)  { points = "30,40 50,0 70,40"; }
      if (count == 5)  { points = "25,50 50,0 75,50"; }
      if (count == 6)  { points = "20,60 50,0 80,60"; }
      if (count == 7)  { points = "15,70 50,0 85,70"; }
      if (count == 8)  { points = "10,80 50,0 90,80"; }
      if (count == 9)  { points = "5,90  50,0 95,90"; }
      if (count >= 10) { points = "0,100 50,0 100,100"; }

      const sonarId = "sonar_" + triangleId;
      const sonarElement = $("#" + sonarId);

      sonarElement.attr("points", points);

      // Area counter
      const areaId = triangleId.match(/^[a-g]_[1-5]/)[0];
      const areaCounterId = "counter_" + areaId;
      const areaCounterElement = $("#" + areaCounterId);
      let areaCount = (areaCounterElement.html() == null) ? 0 : areaCounterElement.html();
      areaCounterElement.html(Number(areaCount) + 1);

      let totalCount = 0;
      const areaCounters = $(".area_counter");
      _.each(areaCounters, function(areaCounter) {
        let areaCount = (areaCounter.innerHTML == null) ? 0 : areaCounter.innerHTML;
        totalCount += Number(areaCount);
      });

      let totalCounterElement = $("#total_count");
      totalCounterElement.html(totalCount);
    }
  </script>
</html>
